/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: fade 2000ms forwards;
}

img {
  max-width: 100%;
  user-select: none;
}

/* Variables */

:root {
  /* Font Size */
  --font-size-2xs: 0.5rem;
  --font-size-xs: 0.75rem;   /* Tailwind default */
  --font-size-sm: 0.875rem;  /* Tailwind default */
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;

  /* Colors */
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --light-gray: hsl(0, 0%, 97%);
}

/* Animations */
@keyframes walk {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    transform: translateX(100px);
    opacity: 0.2;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Utilities */

/* .container-xl {
  max-width: 1500px;
}

.container-lg {
  max-width: 1200px;
}

.container-md {
  max-width: 1100px;
}

.container-sm {
  max-width: 900px;
}

.container-vsm {
  max-width: 500px;
  margin-bottom: 2rem;
}

.container-xs {
  max-width: 250px;
}

.container-xs2 {
  max-width: 200px;
} */

/* Styles */
html,
body {
  font-family: 'Bai Jamjuree', sans-serif;
  background: url('./../images/bg-intro-desktop.png');
  min-height: 100vh;
}

.hidden {
  display: none;
}